<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReservApp"
        tools:targetApi="31">

        <activity
            android:name=".register.HostRegisterActivity"
            android:theme="@style/Theme.ReservApp.NoActionBar"
            android:exported="false" >
        </activity>

        <activity
            android:name=".login.HostLoginActivity"
            android:theme="@style/Theme.ReservApp.NoActionBar"
            android:exported="false" >
        </activity>

        <activity
            android:name=".BottomNavigationActivity"
            android:exported="true"
            android:theme="@style/Theme.ReservApp" >
        </activity>

        <activity
            android:name=".mainHost.MainActivityHost"
            android:exported="true"
            android:theme="@style/Theme.ReservApp">
        </activity>

        <activity
            android:name=".login.UserLogInActivity"
            android:theme="@style/Theme.ReservApp.NoActionBar"
            android:exported="false" >
        </activity>

        <activity
            android:name=".register.UserRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.ReservApp.NoActionBar" >
        </activity>

        <activity
            android:name=".welcome.SelectProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.ReservApp.NoActionBar" >
        </activity>

        <activity
            android:name=".welcome.WelcomeAppActivity"
            android:exported="true"
            android:theme="@style/Theme.ReservApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>